body {
  font-family: "Open Sans Condensed", sans-serif;
  color: #ffffff;
  background-color: #ffffff;
  font-famly: roboto;
}
.header .container {
  width: 83%;
  background-color: #7f7f7f;
}
hr {
  width: 15%;
}
h1 > hr {
  width: 15%;
}
.about-me {
  width: 83%;
  background-color: #7f7f7f;
  height: 500px;
}
.about-content {
  margin: 5px;
}
.about-me p {
  font-size: 20px;
  display: center-block;
  margin-left: 80px;
}
.center-block {
  display: block;
  height: 400px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
}
.citation {
  color: #fff;
  padding-left: 225px;
}
.portfolio {
  background-color: #7f7f7f;
  width: 83%;
  padding-bottom: 25px;
}

.contact {
  background-color: #7f7f7f;
  width: 83%;
}

.contactbox {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  width: 83%;
  padding: px;
}

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

.social-network a.icoFaceboo:hover {
  background-color: #d3d3d3;
}
.social-network a.icoGithu:hover {
  background-color: #d3d3d3;
}

.social-network a.icoLinkedi:hover {
  background-color: #d3d3d3;
}

.social-network a.icoEmai:hover {
  background-color: #d3d3d3;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoLinkedin:hover i,
.social-network a.icoEmail:hover i {
  color: #fff;
}

a.socialIcon:hover,
.socialHoverClass {
  color: #000000;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
}

.social-circle li {
  margin: 0;
  line-height: 50px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms--transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #fff;
  -moz-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms--transition: all 0.8s;
  transition: all 0.8s;
}

.contactbox a {
  background-color: #000000;
  height: 50px;
}

.footer-info p {
  line-height: 25px;
  font-size: 15px;
  padding: 20px;
}